.zlider {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
}

.zlider .zlider__slide {
    flex-shrink: 0;
}

.zlider .zlider__slide__hidden {
    display: none;
}

.zlider .zlider__arrows {
    position: absolute;
    top: 0;
    left: 0;
}